
html {
    font-size: 22px;
}
input:in-range {
    background-color: lightgreen;   
}
input:out-of-range {
    background-color: lightcoral;    
}



#output {
    border-bottom: solid 5px red;
    padding: 20px;

}



.carbon {
    border-bottom: solid 2px red;
    padding: 5px;
    width: 30%;
}

body {
    background-color: #333;
    color: white;
}



tbody tr:nth-child(odd) {
    background-color: blue !important; 
}